@charset "UTF-8"
@import url('htps: //fonts.googleapis.com/css? family = Allerta | Cantarell | Titillium + Web');

/* Corpo do site*/
body {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    background-color: rgba(66, 184, 62, 0.3);
    margin: 0px auto 0px auto;
}

/* Interface a parte branca */
div#interface {
    width: 800px;
    position: absolute;
    background-color: #ffffff;
    margin: 20px 0px auto 290px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Minha foto */
header#cabecalho img#foto{
    position: absolute;
    margin: 50px 0px 0px -272px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
} 

/* Minhas redes sociiais */
header#cabecalho section#redes-sociais {
    position: absolute;
    display: block;
    width: 230px;
    padding: 5px;
    margin: 250px 0px 0px -265px;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

header#cabecalho section#redes-sociais a{
    font-weight: #000000;
    text-decoration: none;
}

/* Passando o mouse por cima das resde sociais */
header#cabecalho section#redes-sociais a:hover{
    font-weight: bold;
    text-decoration: none;    
}

/* Meu nome "Fernando Cruz" */
header#cabecalho h2#nome {
    position: absolute;
    color: #000080;
    margin: 300px 0px 0px -230px;
}

/* Imagem do Prato da torta de repolho */
section#corpo img#foto1 {
    position: absolute;
    margin: 20px 0px 0px 400px ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Titulo "Torta de Repolho" */
section#corpo h1#titulo{
    text-align: center;
    font-size: 40pt;
    color: rgb(110, 0, 0);
}

/* Titulos usando h2 */
section#corpo h2{
    font-size: 30pt;
    color: rgba(110, 0, 0);
    margin-left: 20px;
}

/* Texto */
section#corpo p {
    padding-left: 20px;
    padding-right: 30px;
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.6);
}

/* Texto do Preparo */
section#corpo li#preparo {
    padding-left: 10px;
    padding-right: 30px;
    font-size: 15pt;
    color: rgba(0, 0, 0, 0.6);
}